/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efd7d7;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* HEADER */
.header {
  background: teal;
  padding: 16px 0;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.nav a {
  margin-left: 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  opacity: 0.8;
}


/* About Us */
#about {
  margin: 30px;
  padding: 20px;
}

#about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.img-desc {
  display: flex;
  gap: 15px;
  align-items: center;
}

.img-desc img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.mission-vission {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.vision,
.mission {
  border: 1px solid;
  padding: 20px;
  width: 100%;
  height: 200px;
}

.vision h4,
.mission h4 {
  text-align: center;
  margin-bottom: 10px;
}


#team {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

#team-heading {
  margin-top: 20px;
  padding-top: 10px;
}

.team-row img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}


.team-row {
  padding: 20px;
  width: 100%;
}

.team-row span {
  color: teal;
  font-size: small;
}


/* FOOTER */
#footer {
  background: teal;
  padding: 30px 0;
  margin-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.footer-links a {
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  color: peachpuff;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 30px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}


.footer p {
  margin-bottom: 10px;
  color: white;
}

#footer h4 {
  margin-bottom: 10px;
}

.copyright {
text-align: center;
}

