/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efd7d7;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* HEADER */
.header {
  background: teal;
  padding: 16px 0;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.nav a {
  margin-left: 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  opacity: 0.8;
}


/* Matches page */
#matches-page {
  margin: 20px;
}

#matches-page .section-title {
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.match-section h3 {
  margin-bottom: 10px;
}


.match-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.match-table th,
.match-table td {
  border: 1px solid #b7b7b7;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

.match-table thead {
  background: #f3f3f3;
}


.match-buttons {
  margin: 20px 0 60px 0;
  display: flex;
  gap: 20px;
}

.match-buttons button {
  padding: 10px 25px;
  background: peachpuff;
  border: 1px solid #bbb;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
}

.match-buttons button:hover{
  background-color: teal;
  transition: 0.5s ease;
}


/* FOOTER */
#footer {
  background: teal;
  padding: 30px 0;
  margin-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.footer-links a {
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  color: peachpuff;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 30px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}


.footer p {
  margin-bottom: 10px;
  color: white;
}

#footer h4 {
  margin-bottom: 10px;
}

.copyright {
text-align: center;
}

