
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efd7d7;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* HEADER */
.header {
  background: teal;
  padding: 16px 0;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.nav a {
  margin-left: 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  opacity: 0.8;
}

/* players Page */
#players-page {
  margin: 20px;
}

#players-page .section-title {
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
}

.player-search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  margin: 20px 0;
}

.player-search a img {
  position: absolute;
  right: 0;
  padding-top: 25px;
  margin-right: 30px;
  
}

.player-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.player-filters select {
  flex: 1;
  padding: 10px;
  background: #c8dafc;
  border: 1px solid #bbb;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 60px;
}

.player-card {
  border: 1px solid #bbb;
  padding: 20px;
  text-align: center;
}

.player-img img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.profile-btn {
  padding: 8px 20px;
  background: teal;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* PROFILE SECTION */
.profile-section {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.profile-img {
  width: 300px;
  height: 240px;
  background: #e8e8e8;
  border: 1px solid #bbb;
}

.profile-img img {
  width: 100%;
  height: 250px;
}

.profile-info h3 {
  margin-bottom: 10px;
}

.biography {
  margin-bottom: 50px;
}

.biography h3 {
  margin-bottom: 10px;
}

.bio-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background: peachpuff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.stats-section h3 {
  margin-bottom: 20px;
}

.stats-grid {
  display: flex;
  gap: 20px;
}

.stat-box {
  flex: 1;
}

.stat-box label {
  display: block;
  margin-bottom: 5px;
}

.stat-box input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
}


/* FOOTER */
#footer {
  background: teal;
  padding: 30px 0;
  margin-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.footer-links a {
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  color: peachpuff;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 30px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}


.footer p {
  margin-bottom: 10px;
  color: white;
}

#footer h4 {
  margin-bottom: 10px;
}

.copyright {
text-align: center;
}

