
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efd7d7;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* HEADER */
.header {
  background: teal;
  padding: 16px 0;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.nav a {
  margin-left: 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  opacity: 0.8;
}

/* HERO SECTION */
.hero {
  width: 100%;
  text-align: center;
  padding: 70px 0;
  background:radial-gradient(rgba(0,0,0,0.1),rgb(0, 0, 0)), url(./images/background.jpg) center/cover no-repeat;
  object-fit: cover;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
  color: white;
}

.hero h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
}

.hero-text {
  max-width: 700px;
  margin: auto;
  color: var(--gray);
  line-height: 1.6;
  margin-bottom: 30px;
  color: white;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 12px 22px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.primary-btn {
  background: teal;
  color: white;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.primary-btn:hover {
  background: peachpuff;
}

.secondary-btn {
  background: peachpuff;
  color: #333;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.secondary-btn:hover {
  background: teal;
  opacity: 0.85;
}


#news {
  padding: 40px 0;
  text-align: center;
}

.news-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.news-card {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

.news-card img {
  width: 100%;
  height: 400px;
}


.news-name {
  margin: 10px 0;
  font-weight: 600;
}


/* HIGHLIGHTS */
#highlights {
  padding: 40px 0;
  text-align: center;
}
.highlight-row {
  display: flex;
  gap: 20px;
}

.highlight-card {
  width: 100%;
  padding: 20px ;
  text-align: center;
}

.highlight-card video {
  width: 100%;
  height: 200px;
}


.highlight-card p {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}


/* Matches page */
#matches-page {
  margin: 20px;
}

#matches-page .section-title {
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.match-section h3 {
  margin-bottom: 10px;
}


.match-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.match-table th,
.match-table td {
  border: 1px solid #b7b7b7;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

.match-table thead {
  background: #f3f3f3;
}


.match-buttons {
  margin: 20px 0 60px 0;
  display: flex;
  gap: 20px;
}

.match-buttons button {
  padding: 10px 25px;
  background: peachpuff;
  border: 1px solid #bbb;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
}

.match-buttons button:hover{
  background-color: teal;
  transition: 0.5s ease;
}


/* players Page */
#players-page {
  margin: 20px;
}

#players-page .section-title {
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
}

.player-search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  margin: 20px 0;
}

.player-search a img {
  position: absolute;
  right: 0;
  padding-top: 25px;
  margin-right: 30px;
  
}

.player-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.player-filters select {
  flex: 1;
  padding: 10px;
  background: #c8dafc;
  border: 1px solid #bbb;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 60px;
}

.player-card {
  border: 1px solid #bbb;
  padding: 20px;
  text-align: center;
}

.player-img img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.profile-btn {
  padding: 8px 20px;
  background: teal;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* PROFILE SECTION */
.profile-section {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.profile-img {
  width: 300px;
  height: 240px;
  background: #e8e8e8;
  border: 1px solid #bbb;
}

.profile-img img {
  width: 100%;
  height: 250px;
}

.profile-info h3 {
  margin-bottom: 10px;
}

.biography {
  margin-bottom: 50px;
}

.biography h3 {
  margin-bottom: 10px;
}

.bio-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background: peachpuff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.stats-section h3 {
  margin-bottom: 20px;
}

.stats-grid {
  display: flex;
  gap: 20px;
}

.stat-box {
  flex: 1;
}

.stat-box label {
  display: block;
  margin-bottom: 5px;
}

.stat-box input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
}


/* About Us */
#about {
  margin: 30px;
  padding: 20px;
}

#about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.img-desc {
  display: flex;
  gap: 15px;
  align-items: center;
}

.img-desc img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.mission-vission {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.vision,
.mission {
  border: 1px solid;
  padding: 20px;
  width: 100%;
  height: 200px;
}

.vision h4,
.mission h4 {
  text-align: center;
  margin-bottom: 10px;
}


#team {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

#team-heading {
  margin-top: 20px;
  padding-top: 10px;
}

.team-row img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}


.team-row {
  padding: 20px;
  width: 100%;
}

.team-row span {
  color: teal;
  font-size: small;
}

/* Contact Us */
#contact h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 70px;
}

#contact p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 140px;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
  padding: 0 60px 120px;
}

.contact-image {
  width: 600px;
  height: 600px;
  border: 2px solid #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.contact-image img {
  width: 100%;
  height: 100%;
  border: 2px solid #d0d0d0;
  object-fit: cover;
}

.contact-form {
  width: 420px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  border: 1.5px solid #c6c6c6;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 25px;
  width: 600px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  width: 140px;
  padding: 12px 0;
  background: peachpuff;
  border: 1px solid #afafaf;
  cursor: pointer;
  font-size: 15px;
}

.contact-form button:hover {
  background: #c9c9c9;
}

/* FOOTER */
#footer {
  background: teal;
  padding: 30px 0;
  margin-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.footer-links a {
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  color: peachpuff;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 30px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}


.footer p {
  margin-bottom: 10px;
  color: white;
}

#footer h4 {
  margin-bottom: 10px;
}

.copyright {
text-align: center;
}
