
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: #ffffff;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LAYOUT */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  background: teal;
  padding: 16px 0;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 50px;
  background: white;
  color: black;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.nav a {
  margin-left: 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  opacity: 0.8;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 60px 0;
  background: url(./images/background.jpg) center/cover no-repeat;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
  color: white;
}

.hero h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
}

.hero-text {
  max-width: 700px;
  margin: auto;
  color: var(--gray);
  line-height: 1.6;
  margin-bottom: 30px;
  color: white;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 12px 22px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.primary-btn {
  background: teal;
  color: white;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.primary-btn:hover {
  background: peachpuff;
}

.secondary-btn {
  background: peachpuff;
  color: #333;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.secondary-btn:hover {
  background: teal;
  opacity: 0.85;
}


#news {
  padding: 40px 0;
  text-align: center;
}

.news-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.news-card {
  width: 30%;
}

.news-img {
  width: 50%;
  height: 180px;
  border-radius: 8px;
}

.news-name {
  margin: 10px 0;
  font-weight: 600;
}

/* HIGHLIGHTS */
#highlights {
  padding: 40px 0;
  text-align: center;
}

.highlight-row {
  display: flex;
  gap: 20px;
  padding: 25px;
}

.highlight-card {
  width: 23%;
  text-decoration: none;
  color: #333;
  background: peachpuff;
  border-radius: 10px;
}

.highlight-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.highlight-card p {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}


/* FOOTER */
#footer {
  background: teal;
  padding: 30px 0;
  margin-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.footer-links a {
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
  color: peachpuff;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 30px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}


.footer p {
  margin-bottom: 10px;
  color: white;
}

.copyright {
text-align: center;
}
